@model OgrenciNotMvc.Models.EntityFramework.TBLKULUPLER
@{
    ViewBag.Title = "KulupGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle","Kulupler",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m=>m.KULUPAD)
                    @Html.TextBoxFor(m=>m.KULUPAD,new { @class = "form-control" })
                </div>
                @Html.HiddenFor(m=>m.KULUPID)
    <div style="margin-top:15px"></div>
    <button class="btn btn-info">Güncelle</button>
            }

